    <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                <div class="form-group" style="text-align:center">
                    <h3>Agregar Proyecto</h3>
                </div>
                    <form action="/aceptarP" method="POST">
                        <div class="form-group">
                            <div class="form-group">
                            <h6>Seleccione solicitud: </h6>
                         <select id="Solicitud" name="Solicitud" aria-placeholder="Solicitud" required >
                                {{#each nSolicitudes}}
                                    <option value="{{ID_Solicitud}}">{{ID_Solicitud}} - {{Nombre_Proyecto}} </option>
                                {{/each}}
                            </select> 
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="Tecnologias" rows="2" class="form-control" placeholder="Conjunto Tecnologias" autofocus,required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="presupuesto">Presupuesto: </label>
                                <input type="number" id="presupuesto" name="presupuesto">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Nombre" placeholder="Pseudo Nombre" >
                        </div>
                        <div class="form-group">
                            <input type="url" name="url_github" class="form-control" placeholder="URL GitHub">
                        </div>
                        <div class="form-group">
                            <input type="url" name="url_trello" class="form-control" placeholder="URL Trello">
                        </div>
                        <div class="form-group">
                            <h6>Seleccione etiqueta: </h6>
                             <select id="Etiqueta" name="Etiqueta" aria-placeholder="Etiqueta">
                                <option value="1">Not Started</option>
                                <option value="2">On Track</option>
                                <option value="3">Slipping</option>
                                <option value="4">Done</option>
                                <option value="5">On Hold</option>
                                <option value="6">Off Track</option>
                            </select> 
                        </div>
                        <div class="form-group">
                            <h6>Seleccione Equipo de Trabajo: </h6>
                             <select id="ET" name="ET" aria-placeholder="Equipo Trabajo">
                                {{#each nEquipoTrabajo}}
                                    <option value="{{ID_Equipo_Trabajo}}">{{Nombre_Equipo_Trabajo}}</option>
                                {{/each}}
                            </select> 
                        </div>
                          <div class="form-group">
                              <h6>Seleccione encargado: </h6>
                                 <select id="Encargado" name="Encargado" aria-placeholder="Encargado">
                                {{#each nEmpleado}}
                                    <option value="{{Numero_Empleado}}">{{Numero_Empleado}} - {{Nombre}}</option>
                                {{/each}}
                    </select> 
                    </div>
                        <div class="form-group">
                            <label for="Entrega">Fecha Entrega:</label>
                                <input type="date" id="Entrega" name="Entrega">
                        </div>
                        <div class="form-group">
                            <label for="Inicio">Fecha Inicio:</label>
                                <input type="date" id="Inicio" name="Inicio">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Agregar Proyecto
                            </button>
                        </div>
                    </form>
                    <div class="card">
                    <form action="/user" method="POST">
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Retornar
                            </button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

