    <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/aceptar/{{links.ID_Solicitud}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{links.Nombre_Proyecto}}"class="form-control" name="Nombre_Proyecto" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{links.ID_Solicitud}}"class="form-control" name="ID_Solicitud"  readonly>
                        </div>
                        <div class="form-group">
                            <textarea name="Tecnologias" rows="2" class="form-control" placeholder="Conjunto Tecnologias" autofocus></textarea>
                        </div>
                        <div class="form-group">
                            <label for="presupuesto">Presupuesto: </label>
                                <input type="number" id="presupuesto" name="presupuesto">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Nombre" placeholder="Pseudo Nombre" >
                        </div>
                        <div class="form-group">
                            <input type="url" name="url_github" class="form-control" placeholder="URL GitHub">
                        </div>
                        <div class="form-group">
                            <input type="url" name="url_trello" class="form-control" placeholder="URL Trello">
                        </div>
                        <div class="form-group">
                             <select id="Etiqueta" name="Etiqueta">
                                <option value="1">Not Started</option>
                                <option value="2">On Track</option>
                                <option value="3">Slipping</option>
                                <option value="4">Done</option>
                                <option value="5">On Hold</option>
                                <option value="6">Off Track</option>
                            </select> 
                        </div>
                        <div class="form-group">
                             <select id="ET" name="ET" aria-placeholder="Equipo Trabajo">
                                {{#each links1}}
                                    <option value="{{ID_Equipo_Trabajo}}">{{Nombre_Equipo_Trabajo}}</option>
                                {{/each}}
                            </select> 
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Encargado" placeholder="ID Encargado" >
                        </div>
                        <div class="form-group">
                            <label for="Entrega">Fecha Entrega:</label>
                                <input type="date" id="Entrega" name="Entrega">
                        </div>
                        <div class="form-group">
                            <label for="Inicio">Fecha Inicio:</label>
                                <input type="date" id="Inicio" name="Inicio">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Aceptar Proyecto
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>