<div class="container p-4">
     <div class="row">
        {{#each nSolicitudes}}
        <div class="col-md-3">
            <div class="card text-center p-4">
                    <h3 class="card-title text-uppercase">
                        {{Nombre_Proyecto}}
                    </h3>
                    <h6><b>Descripcion Proyecto: </b></h6>
                    <p class="m-2" id="desc">{{Descripcion_Proyecto}}</p>
                    <h6><b>ID Cliente que Solicito:</b></h6>
                    <p class="m-2">{{ID_cliente_solicita}}</p>
                    <h6><b>Estado de la Solicitud</b></h6>
                    <p class="m-2">{{Estado_Solicitud}}</p>
                    <h6><b>Fecha </b></h6>
                    <p class="m-2">{{timeago Fecha_Solicitud}}</p>
                <a href="/links/negar/{{ID_Solicitud}}" class="btn btn-danger">Negar Solicitud</a>
                <a href="/links/aprobar/{{ID_Solicitud}}" class="btn btn-secondary btn-block">Aceptar Solicitud</a>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay solicitudes de proyectos</p>
            </div>
        </div>
        {{/each}}
        </div>
</div>