<div class="container p-4">
        <div class="form-group p-3" style="text-align:center">
            <h2 class="card-title">
                Solicitudes de Proyecto
            </h2>
         </div>
            <div class="form-group p-3" style="text-align:center">
            <h4 class="card-title">
                En Espera
            </h4>
         </div>
     <div class="row">
        {{#each nSolicitudesP}}
        <div class="col-md-3">
            <div class="card text-center p-4">
                    <h3 class="card-title text-uppercase">
                        {{Nombre_Proyecto}}
                    </h3>
                    <h6><b>ID Solicitud:</b></h6>
                    <p class="m-2">{{ID_Solicitud}}</p>
                    <h6><b>Descripcion Proyecto: </b></h6>
                    <p class="m-2" id="desc">{{Descripcion_Proyecto}}</p>
                    <h6><b>ID Cliente que Solicito:</b></h6>
                    <p class="m-2">{{ID_cliente_solicita}}</p>
                    <h6><b>Estado de la Solicitud</b></h6>
                    <p class="m-2">Pendiente</p>
                    <h6><b>Fecha </b></h6>
                    <p class="m-2">{{timeago Fecha_Solicitud}}</p>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay solicitudes pendientes</p>
            </div>
        </div>
        {{/each}}
        </div>


        <div class="form-group p-3" style="text-align:center">
            <h4 class="card-title">
                Aprobados
            </h4>
         </div>
     <div class="row">
        {{#each nSolicitudesA}}
        <div class="col-md-3">
            <div class="card text-center p-4">
                    <h3 class="card-title text-uppercase">
                        {{Nombre_Proyecto}}
                    </h3>
                    <h6><b>ID Solicitud:</b></h6>
                    <p class="m-2">{{ID_Solicitud}}</p>
                    <h6><b>Descripcion Proyecto: </b></h6>
                    <p class="m-2" id="desc">{{Descripcion_Proyecto}}</p>
                    <h6><b>ID Cliente que Solicito:</b></h6>
                    <p class="m-2">{{ID_cliente_solicita}}</p>
                    <h6><b>Estado de la Solicitud</b></h6>
                    <p class="m-2">Aprobado</p>
                    <h6><b>Fecha </b></h6>
                    <p class="m-2">{{timeago Fecha_Solicitud}}</p>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay solicitudes aprobadas</p>
            </div>
        </div>
        {{/each}}
        </div>


            <div class="form-group p-3" style="text-align:center">
            <h4 class="card-title">
                Denegados
            </h4>
         </div>
     <div class="row">
        {{#each nSolicitudesD}}
        <div class="col-md-3">
            <div class="card text-center p-4">
                    <h3 class="card-title text-uppercase">
                        {{Nombre_Proyecto}}
                    </h3>
                    <h6><b>ID Solicitud:</b></h6>
                    <p class="m-2">{{ID_Solicitud}}</p>
                    <h6><b>Descripcion Proyecto: </b></h6>
                    <p class="m-2" id="desc">{{Descripcion_Proyecto}}</p>
                    <h6><b>ID Cliente que Solicito:</b></h6>
                    <p class="m-2">{{ID_cliente_solicita}}</p>
                    <h6><b>Estado de la Solicitud</b></h6>
                    <p class="m-2">Rechazado</p>
                    <h6><b>Fecha </b></h6>
                    <p class="m-2">{{timeago Fecha_Solicitud}}</p>
                  <div class="form-group">
                    <a href="/links/segundaS/{{ID_Solicitud}}" class="btn btn-secondary btn-block">Volver a Solicitar</a> 
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay solicitudes denegadas</p>
            </div>
        </div>
        {{/each}}
        </div>


        <div class="form-group p-3" style="text-align:center">
            <h2 class="card-title">
                Proyectos en desarrollo
            </h2>
         </div>
        <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center p-4">
                <a href="{{URL_Proy_Github}}">
                    <h3 class="card-title text-uppercase">
                        {{Nombre}}
                    </h3>
                </a>
                <h6><b>Tecnologias Usadas:</b></h6>
                <p class="m-2">{{Conjunto_Tecnologia}}</p>
                <h6><b>Presupuesto:</b></h6>
                <p class="m-2">{{Presupuesto}}</p>
                <h6><b>Esta Asignado: </b></h6>
                <p class="m-2">{{Esta_asignado}}</p>
                <h6><b>Pseudo Nombre:</b></h6>
                <p class="m-2">{{Pseudo_Nombre}}</p>
                <h6><b>URL Proy en GitHub:</b></h6>
                <a href="{{URL_Proy_Github}}" class="m-2">{{URL_Proy_Github}}</a>
                <h6><b>URL Proy en Trello:</b></h6>
                <a href="{{URL_Proy_Github}}" class="m-2">{{URL_Proy_Trello}}</a>
                <h6><b>ID Etiqueta: </b></h6>
                <p class="m-2">{{ID_Etiqueta}}</p>
                <h6><b>ID Equipo Trabajo: </b></h6>
                <p class="m-2">{{ID_Equipo_Trabajo}}</p>
                <h6><b>ID Encargado: </b></h6>
                <p class="m-2">{{ID_jefe_Encargado}}</p>
                <h6><b>Fecha Inicio: </b></h6>
                <p class="m-2">{{timeago Fecha_Inicio}}</p>
                <h6><b>Fecha Entrega: </b></h6>
                <p class="m-2">{{timeago Fecha_Entrega}}</p>
                <h6><b>ID Solicitud Proyecto: </b></h6>
                <p class="m-2">{{Id_solicitud}}</p>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay proyectos en proceso</p>
            </div>
        </div>
        {{/each}}
        </div>
</div>